@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import these in your App.css or directly in your component's CSS */


*{
  margin: 0;
  padding: 0;/* Import these in your App.css or directly in your component's CSS */


  box-sizing: border-box;
font-family: "Poppins";  


}